<div class="animated fadeIn">
  <h2 class="h4 animated fadeIn" *ngIf="answer !== ''">{{answer}}</h2>

  <div class="row characters">
    <div class="column">
      <kaa-character *ngFor="let c of characters" [char]="c.text" [isFocus]="c.isFocus" (isFocusChange)="c.isFocus = $event; changeCharacter($event)"></kaa-character>
    </div>
  </div>
  <div class="row hint animated fadeIn" *ngIf="mean !== ''">
    <div class="column">
      <pre>{{mean}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <kaa-giveup-button></kaa-giveup-button>
      <button (click)="hint()" class="button-outline">ヒント</button>
      <button (click)="check()">答え合わせ</button>
    </div>
  </div>
</div>