.container {
  padding: 0;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

pre {
  padding: 1.5rem;
  white-space: initial;
  text-align: left;
}

.h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}